<ion-header>
  <ion-toolbar color="azul">
    <ion-icon slot="start" name="menu" size="large" class="ion-padding" (click)="verMenu()"></ion-icon>
    <ion-title>
      Perfil
    </ion-title>
    <ion-icon slot="end" name="person-circle-outline" class="ion-padding" size="large"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-content>
    <ion-card-title>
      PERFIL DE USUARIO
    </ion-card-title>
    <br>
    <ion-card-subtitle>Datos:</ion-card-subtitle>
    
  </ion-card-content>
</ion-card>
</ion-content>
