ion-toolbar{
    background-color: rgb(255, 255, 255);
    color:rgb(16, 16, 16);
}


ion-list{background-color: var(--ion-color-celeste);}

.ver{
background-color: green;
}

.blu{
    background-color: blue;
}
