<ion-header>
  <ion-toolbar color="azul">
    <ion-buttons slot="start">
      <ion-back-button text="volver" mode="ios" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Asignaturas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="celeste">
  <ion-list *ngFor="let item of ['Programación Web','Arquitectura','Calidad de Software','Inglés Intermedio']" >
    <ion-item color="celeste">
      <ion-avatar slot="start">
        <img src="/assets/book.png" />
      </ion-avatar>
      <ion-label>
        <h2>{{item}}</h2>

      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
