ion-toolbar{
    background-color: rgb(255, 255, 255);
    color:rgb(16, 16, 16);
}

.ver{
background-color: green;
}

.blu{
    background-color: blue;
}

.yel{
    
    background: rgb(176, 171, 7);

}

.red{
    background: rgb(205, 7, 7);
}
