<ion-header>
  <ion-toolbar color="azul">
    <ion-buttons slot="start">
      <ion-back-button text="volver" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-text slot="end" (click)="verPerfil()" ><h2>{{nombre}}</h2></ion-text>
    <ion-title>Asignaturas</ion-title>
    <ion-icon slot="end" name="person-circle-outline" class="ion-padding" size="large"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="light">
  <ion-list class="animate__animated animate__fadeInRight" *ngFor="let item of ['Programación Web','Arquitectura','Calidad de Software','Inglés Intermedio','Programación de base de datos','Estadística Descriptiva','Proceso de Portafolio']" >
    <ion-item (click)="showLoading()">
      <ion-avatar slot="start">
        <img src="/assets/book.png" />
      </ion-avatar>
      <ion-label>
        <h2>{{item}}</h2>

      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
