<ion-card>
  <ion-card-subtitle color="success">PRESENTE</ion-card-subtitle>
  <ion-card-title class="d-flex justify-content-between align-items-center">
    {{asistencia.fecha}}
    <div>
      <button class="btn btn-success" (click)="asistencia.hide =! asistencia.hide">Mostrar Más</button>
      <button class="btn btn-danger" (click)="deleteAsistencia(asistencia)">Eliminar</button>
    </div>
    
  </ion-card-title>
  <ion-card-title [hidden]="asistencia.hide">
    {{asistencia.descripcion}}
  </ion-card-title>
</ion-card>