ion-toolbar{
    background-color: var(--ion-color-azul);
}

ion-item{
    background-color: var(--ion-color-azul);
}

ion-content{
    background-color: whitesmoke;
}

.bluex{
    background-color: rgb(24, 4, 121);
}

ion-footer{
    background-color: var(--ion-color-azul);
    text-align: center;
    text-decoration: solid;
    background-size: 400pc;
 
}

ion-label{
    text-align: center;
}

ion-title{
    color: white;
    font-weight: bold;
}

ion-icon{
    color:white;
}

.bold{
    text-shadow: 10px;
    font-weight: bold;
}
