ion-toolbar{
    background: rgb(17, 8, 65);
    color:white;
}
  
.bluex{
    background-color: rgb(24, 4, 121);
}

ion-footer{
    background-color: rgb(17, 8, 65);
    text-align: center;
    text-decoration: solid;
    background-size: 400pc;
    color: rgb(255, 255, 255);
}

ion-label{
    text-align: center;
}

ion-icon{
    color:white;
}

.bold{
    text-shadow: 10px;
    font-weight: bold;
}
