ion-toolbar{
    background-color: var(--ion-color-azul);
  }

ion-back-button{
    background-color: white;
    padding:10px;
    margin: auto;
}

ion-card-header{
    background-color: rgba(52, 117, 214, 0.845);
}


ion-card-title{
    color: whitesmoke;
    font-size: 35px;
    text-align: center;
}

ion-card-subtitle{
    color:rgb(255, 221, 4);
    font-size: 20px;
    font-weight: bold;
}

ion-card-content{
    background-color: rgba(30, 68, 126, 0.845);
    color: white;
    font-size: 25px;
}

ion-content{
    background-color: white;
    text-align: center;
}
