<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title color="light">Menu</ion-title>
        <ion-icon slot="end" name="close" size="large" class="ion-padding" (click)="cerrarMenu()"></ion-icon>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item color="celeste" detail routerLink="/home" (click)="cerrarMenu()">
          <ion-icon slot="start" name="home-outline"></ion-icon>
          Inicio
        </ion-item>
        <ion-item color="celeste" detail routerLink="/listas" (click)="cerrarMenu()">
          <ion-icon slot="start" name="list-outline"></ion-icon>
          Asignaturas
        </ion-item>
        <ion-item color="celeste" detail routerLink="/scaner" (click)="cerrarMenu()">
          <ion-icon slot="start" name="scan-circle-outline"></ion-icon>
          Registro de Asistencia
        </ion-item>
        <ion-item color="celeste" detail routerLink="/loginpage" (click)="cerrarMenu()" (click)="cerrarSesion()">
          <ion-icon slot="start" name="log-out-outline"></ion-icon>
          Cerrar Sesión
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>

</ion-app>