<ion-header>
  <ion-toolbar color="azul">
    <ion-title color="light">Registro de Asistencia</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="warning" text="volver" defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="primary">
    <ion-card-content class="ion-cla">
      <ion-card-title class="ion-text-center">INSTRUCCIONES</ion-card-title>
      <ion-card-subtitle class="ion-text-center"> * Para registrar su asistencia simplemente pinche el codigo QR de la asignatura</ion-card-subtitle>
    </ion-card-content>
  </ion-card>
   
<ion-card>
 <ion-title>
  <H3 class="ion-text-center ion-padding">BASE DE DATOS</H3>
  <h4 color="success" class="ion-text-center">(PBD3123)</h4>
 </ion-title>
  <ion-img style="width: auto; height: 300px; display: block;" src="/assets/qr.webp" (click)="marcarAsistenciaDat()" (click)="addData()"></ion-img>
  <br>
</ion-card>
  <ion-card>
  <ion-title>
  <H3 class="ion-text-center ion-padding">APLICACIONES MOVILES</H3>
  <h4 color="success" class="ion-text-center">(PGY4123)</h4>
 </ion-title>
 <ion-img style="width: auto; height: 300px; display: block;" src="/assets/qr.webp" (click)="marcarAsistenciaMov()" (click)="addData2()"></ion-img>
 <br>
  </ion-card>
</ion-content>
