<ion-header>
  <ion-toolbar color="dark">
    <ion-title color="light">REG.ASISTENCIA</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="warning" text="volver" defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [style.visibility]="content_visibility">
  <ion-card color="light">
    <ion-button
     expand="block" 
     class="ion-margin" 
     (click)="startScan()">
     ACTIVAR SCANNER</ion-button>
  </ion-card>
  <ion-item *ngIf="scannedResult">
    <ion-label class="ion-text-wrap"> Scanned Result: {{scannedResult}}</ion-label>
  </ion-item>
   
  <ion-title class="ion-text-center"><h2>ASIGNATURAS</h2></ion-title>
  <div class="centrar-flex">
    <ion-card color= "primary" class="carta primary">
      <ion-img class="imagen-qr" src="/assets/qr.webp" (click)="marcarAsistenciaDat()" (click)="addData()"></ion-img>
      <ion-card-title class="ion-text-center">BASE DE DATOS</ion-card-title>
      <ion-card-subtitle class="ion-text-center">BD1200</ion-card-subtitle>
      <ion-img class="logo" src="/assets/progdatos.png"></ion-img>
    </ion-card>
    <ion-card color= "success" class="carta success">
      <ion-img class="imagen-qr" src="/assets/qr.webp" (click)="marcarAsistenciaMov()" (click)="addData2()"></ion-img>
      <ion-card-title class="ion-text-center">PROG.MOVIL</ion-card-title>
      <ion-card-subtitle class="ion-text-center">PGY100</ion-card-subtitle>
      <ion-img class="logo" src="/assets/progmovil.png"></ion-img>
      </ion-card>
    <ion-card color= "danger" class="carta">
      <ion-img class="imagen-qr" src="/assets/qr.webp" (click)="marcarAsistenciaCal()" (click)="addData3()"></ion-img>
      <ion-card-title class="ion-text-center">CALIDAD.SW</ion-card-title>
      <ion-card-subtitle class="ion-text-center">CAL4111</ion-card-subtitle>
      <ion-img class="logo" src="/assets/software.png"></ion-img>
    </ion-card>
    <ion-card color="warning" class="carta ">
      <ion-img class="imagen-qr" src="/assets/qr.webp" (click)="marcarAsistenciaArq()" (click)="addData4()"></ion-img>
      <ion-card-title class="ion-text-center">ARQUITECTURA</ion-card-title>
      <ion-card-subtitle class="ion-text-center">ASY4141</ion-card-subtitle>
      <ion-img class="logo" src="/assets/arquitectura.png"></ion-img>
    </ion-card>
  </div>

</ion-content>
