

ion-toolbar{
  background-color: var(--ion-color-azul);
}



.carta{
  width:175px;
  height: 300px;
  float: left;
  box-shadow: 1rem;
}

.imagen-qr{
  width:150px;
  height: 150px;
  margin: 13px;
}

.logo{
  width: 130px;
  height: 70px;
  padding-left: 67px;
}