<ion-header [style.visibiluty]="content_visibility">
  <ion-toolbar color="azul">
    <ion-title>Asistencia</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="volver" defaultHref="/listas"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <ion-datetime-button datetime="datetime"></ion-datetime-button>

  <ion-modal [keepContentsMounted]="true">
    <ng-template>
      <ion-datetime id="datetime"></ion-datetime>
    </ng-template>
  </ion-modal>
  
 
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="bold">FECHA</div>
      </ion-col>
      <ion-col>
        <div class="bold">ASISTENCIA</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>13-10-2022</div>
      </ion-col>
      <ion-col>
        <div>-------</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>12-10-2022</div>
      </ion-col>
      <ion-col>
        <div class="suc">PRESENTE</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>06-10-2022</div>
      </ion-col>
      <ion-col>
        <div class="den">AUSENTE</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>05-10-2022</div>
      </ion-col>
      <ion-col>
        <div class="den">AUSENTE</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>29-09-2022</div>
      </ion-col>
      <ion-col>
        <div class="suc">PRESENTE</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>28-09-2022</div>
      </ion-col>
      <ion-col>
        <div class="suc">PRESENTE</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
