<ion-header>
  <ion-toolbar color="azul">
    <ion-title>Asistencia</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="volver" defaultHref="/listas"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item class="ion-padding">
      <img class="animate__animated animate__slideInDown" src="/assets/qr.webp"/>
    </ion-item>
  </ion-card>
  <br>
  <div class="ion-padding ion-text-center">
  <ion-text color="warning"><ion-icon name="warning"></ion-icon></ion-text><ion-text color="primary "class="ion-padding ion-text-uppercase"><h2>Escanea el codigo para marcar asistencia</h2></ion-text>
  </div>
</ion-content>
