<ion-header>
  <ion-toolbar color="azul">
    <ion-icon slot="start" name="menu" size="large" class="ion-padding" (click)="verMenu()"></ion-icon>
    <ion-title>Inicio</ion-title>
    <ion-text slot="end" (click)="verPerfil()" >
      <h2>{{nombre}}</h2>
    </ion-text>
    <ion-icon slot="end" name="person-circle-outline" class="ion-padding" size="large"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content color="fondohome">
  <ion-card color="light">
   
  </ion-card>
  
  <ion-title class="titulo ion-text-center"><h2>ASIGNATURAS</h2></ion-title>
  <div class="centrar-flex">
    <ion-card color= "primary" class="carta animate__animated animate__fadeInRight" (click)="verbd()">
      <ion-card-title class="ion-text-center">DATA BASE</ion-card-title>
      <ion-card-subtitle class="ion-text-center">BD1200</ion-card-subtitle>
      <ion-img class="logo2" src="/assets/progdatos.png"></ion-img>
    </ion-card>
    <ion-card color= "success" class="carta animate__animated animate__fadeInRight" (click)="verpm()">
      <ion-card-title class="ion-text-center">PROG.MOVIL</ion-card-title>
      <ion-card-subtitle class="ion-text-center">PGY100</ion-card-subtitle>
      <ion-img class="logo" src="/assets/progmovil.png"></ion-img>
      </ion-card>
    <ion-card color= "danger" class="carta animate__animated animate__fadeInRight" (click)="versw()">
      <ion-card-title class="ion-text-center">CALIDAD.SW</ion-card-title>
      <ion-card-subtitle class="ion-text-center">CAL4111</ion-card-subtitle>
      <ion-img class="logo" src="/assets/software.png"></ion-img>
    </ion-card>
    <ion-card color="warning" class="carta animate__animated animate__fadeInRight " (click)="verAqr()">
      <ion-card-title class="ion-text-center">ARQUITECTURA</ion-card-title>
      <ion-card-subtitle class="ion-text-center">ASY4141</ion-card-subtitle>
      <ion-img class="logo" src="/assets/arquitectura.png"></ion-img>
    </ion-card>
  </div>
    <br>
   <ion-title class="titulo ion-text-center"><h2>NOTICIAS</h2></ion-title>
  
  <ion-card color="primary "class="animate__animated animate__fadeInLeft " >
    <ion-card-header>
      <ion-card-subtitle>DUOC UC</ion-card-subtitle>
      <ion-card-title>Alumnos realizan evento para celebrar los demás eventos</ion-card-title>
    </ion-card-header>
    <ion-img src="/assets/cueca.jpg" (click)="verNoticia1()"></ion-img>
    <ion-card-content color="white">
      La increible cantidad de eventos realizados en duocuc ha motivado a algunos alumnos a 
      organizar un evento dedicado a la celebración de todos los demás eventos, increible.
    </ion-card-content>
  </ion-card>

  <ion-card color="primary " class="animate__animated animate__fadeInLeft">
    <ion-card-header>
      <ion-card-subtitle>DUOC UC</ion-card-subtitle>
      <ion-card-title>60% de los alumnos reprueban su primer semestre</ion-card-title>
    </ion-card-header>
    <ion-img src="/assets/duocgris.jpg" (click)="verNoticia2()"></ion-img>
    <ion-card-content>
      Una encuesta realizada el pasado 20 de agosto del presente año, resolvió que son más de el 60%
      de los alumnos de la institución que reprueban su primer semestre.
    </ion-card-content>
  </ion-card>

  <ion-footer>
    <ion-toolbar color="light">
    <div class="logoduoc">
      <ion-img src="/assets/logoduoc.png"></ion-img>
    </div>
  </ion-toolbar>
  </ion-footer>
  
</ion-content>
