<ion-header>
  <ion-toolbar color="azul">
    <ion-icon slot="start" name="menu" size="large" class="ion-padding" (click)="verMenu()"></ion-icon>
    <ion-title>Inicio</ion-title>
    <ion-text slot="end" (click)="verPerfil()" >
      <h2>{{nombre}}</h2>
    </ion-text>
    <ion-icon slot="end" name="person-circle-outline" class="ion-padding" size="large"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content color="fondohome">
  <ion-text class="ion-text-center" color="black">
    <h1 class="animate__animated animate__pulse azul">Bienvenido: {{nombre}}</h1>
  </ion-text>
  
  <ion-card class="animate__animated animate__fadeInLeft " >
    <ion-card-header>
      <ion-card-subtitle>DUOC UC</ion-card-subtitle>
      <ion-card-title>Alumnos realizan evento para celebrar los demás eventos</ion-card-title>
    </ion-card-header>
    <ion-img src="/assets/cueca.jpg" (click)="verNoticia1()"></ion-img>
    <ion-card-content color="white">
      La increible cantidad de eventos realizados en duocuc ha motivado a algunos alumnos a 
      organizar un evento dedicado a la celebración de todos los demás eventos, increible.
    </ion-card-content>
  </ion-card>

  <ion-card class="animate__animated animate__fadeInLeft">
    <ion-card-header>
      <ion-card-subtitle>DUOC UC</ion-card-subtitle>
      <ion-card-title>60% de los alumnos reprueban su primer semestre</ion-card-title>
    </ion-card-header>
    <ion-img src="/assets/duocgris.jpg" (click)="verNoticia2()"></ion-img>
    <ion-card-content>
      Una encuesta realizada el pasado 20 de agosto del presente año, resolvió que son más de el 60%
      de los alumnos de la institución que reprueban su primer semestre.
    </ion-card-content>
  </ion-card>

</ion-content>
