<div class="card">
  <div class="card-body">
    <form (submit)="addAsistencia(newFecha, newDescription)">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Fecha de Hoy" #newFecha>
      </div>
      <div class="form-group">
        <textarea cols="30" rows="10" placeholder="Datos del alumno" class="form-control" #newDescription></textarea>
      </div>
      <br>
      <button class="btn btn-primary btn-block">
        Firmar Asistencia
      </button>
    </form>
  </div>
</div>