ion-toolbar{
    background-color: var(--ion-color-azul);
}

ion-item{
    background-color: var(--ion-color-azul);
}

ion-content{
    background-color: var(--ion-color-celeste);
}

ion-footer{
    background-color: var(--ion-color-azul);
    text-align: center;
    text-decoration: solid;
    background-size: 400pc;
 
}

ion-label{
    text-align: center;
}